node_modules/
dist/
except/
docs/
.claude/
.idea/
.vscode/
*.log
.git
.github
.gitignore
.npm
build
.env*
*.md
*.sublime-workspace
secrets
coverage
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
swagger.yml